.colors{
  color: #2c0735;
  color: #4E148C;
  color: #613DC1;
  color: #858AE3;
  color: #97DFFC;
}

@keyframes purple-breath {
  from {background-color: #2c0735;}
  to {background-color: #4E148C;}
}

/* @keyframes purple-breath {
  0% {background-image: linear-gradient(90deg, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, purple 100%);}
  20% {background-image: linear-gradient(90deg, orange 0%, yellow 20%, green 40%, blue 60%, purple 80%, red 100%);}
  40% {background-image: linear-gradient(90deg, yellow 0%, green 20%, blue 40%, purple 60%, red 80%, orange 100%);}
  60% {background-image: linear-gradient(90deg, green 0%, blue 20%, purple 40%, red 60%, orange 80%, yellow 100%);}
  80% {background-image: linear-gradient(90deg, blue 0%, purple 20%, red 40%, orange 60%, yellow 80%, green 100%);}
  100% {background-image: linear-gradient(90deg, purple 0%, red 20%, orange 40%, yellow 60%, green 80%, blue 100%);}
} */

body {
  background-color: black;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: rgb(57, 19, 68); */
  background-color: none;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Main-div {
  height: 100%;
}

.Title-div {
  background-color: #2c0735;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation-name: purple-breath;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.Title-div div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title-div div a {
  margin: 0 10px 0 10px;
  color: white;
  text-decoration: none;
  font-size: calc(4vmin + 5px);
}

.Title-div div a:visited {
  color: white;
}

.Title-div div a:hover {
  color: #97DFFC;
}

.Title-div div a:active {
  border: none;
}

.Blurb-div {
  /* background-color: #613DC1; */
  background-color: skyblue;
  color: black;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

.Blurb-div img {
  width: calc(128px + 10vmin);
  height: calc(128px + 10vmin);
}

.Skills-div {
  background-color: #97DFFC;
  width: 100vw;
  /* min-height: 50vh; */
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  flex-flow: wrap;
  color: black;
}

.Skills-div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 50vw;
}

@media only screen and (max-width: 1300px) {
  .Skills-div div {
    max-width: none;
  }
}

.Skills-div div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.Skill {
  width: 10vmin;
  height: 10vmin;
  margin: 5vmin 5vmin 5vmin 5vmin;
  padding-bottom: 3vmin;
  color: black;
  font-weight: bold;
}

.Skill img {
  position: relative;
  width: 90%;
  height: 90%;
  transition: all;
  transition-duration: 1s;
}

.Skill:hover img {
  width: 100%;
  height: 100%;
  transform: rotateY(360deg);
}

.test {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}