:root{
  --dark: #42273b;
  --mid-dark: #70566d;
  --mid: #abc8c0;
  --mid-light: #9ee493;
  --light: #daf7dc;
}

@keyframes purple-breath {
  from {background-color: var(--dark);}
  to {background-color: var(--mid-dark);}
}

/* @keyframes purple-breath {
  0% {background-image: linear-gradient(90deg, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, purple 100%);}
  20% {background-image: linear-gradient(90deg, orange 0%, yellow 20%, green 40%, blue 60%, purple 80%, red 100%);}
  40% {background-image: linear-gradient(90deg, yellow 0%, green 20%, blue 40%, purple 60%, red 80%, orange 100%);}
  60% {background-image: linear-gradient(90deg, green 0%, blue 20%, purple 40%, red 60%, orange 80%, yellow 100%);}
  80% {background-image: linear-gradient(90deg, blue 0%, purple 20%, red 40%, orange 60%, yellow 80%, green 100%);}
  100% {background-image: linear-gradient(90deg, purple 0%, red 20%, orange 40%, yellow 60%, green 80%, blue 100%);}
} */

body {
  background-color: black;
  overflow-x: hidden;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-header {
  /* background-color: rgb(57, 19, 68); */
  background-color: none;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-div {
  height: 100%;
}

.Title-div {
  background-color: var(--dark);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* animation-name: purple-breath;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate; */
}

.Title-div div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title-div div a {
  margin: 0 10px 0 10px;
  color: white;
  text-decoration: none;
  font-size: calc(4vmin + 5px);
}

.Title-div div a:visited {
  color: white;
}

.Title-div div a:hover {
  color: var(--mid);
  text-shadow: 0px 0px 4px var(--mid);
}

.Title-div div a:active {
  border: none;
}

.Blurb-div {
  background-color: var(--mid-dark);
  color: white;
  width: 100vw;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  font-size: 0.9em;
}

.Blurb-div img {
  /* width: calc(128px + 10vmin);
  height: calc(128px + 10vmin); */
  width: 50vmin;
  box-shadow: 0 0 15px var(--dark);
}

@media only screen and (max-width: 1409px) {
  .Blurb-div img {
    margin-top: 5vmin;
  }
}

.Skills-div {
  background-color: var(--mid);
  width: 100vw;
  /* min-height: 50vh; */
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  flex-flow: wrap;
  color: black;
}

.Skills-div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 50vw;
}

@media only screen and (max-width: 1300px) {
  .Skills-div div {
    max-width: none;
  }
}

.Skills-div div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.Skill {
  position: relative;
  width: 10vmin;
  height: 10vmin;
  margin: 5vmin 5vmin 5vmin 5vmin;
  padding-bottom: 3vmin;
  color: black;
  font-weight: bold;
}

.Skill .Skill-logo {
  position: relative;
  width: 90%;
  height: 90%;
  transition: all;
  transition-duration: 0.4s;
}

.Skill:hover .Skill-logo {
  width: 100%;
  height: 100%;
  transform: rotateY(360deg);
}

.Skill .Star {
  /* position: absolute;
  top: -50px;
  width: 300%;
  height: 300%; */
}

@keyframes flicker-anim {
  0%, 15%, 23%, 34%, 47%, 53%, 69%, 75%, 82%, 96%, 100% {
    /* text-shadow: 1px 1px 5px black; */
    text-shadow: none;
  }
  26% {
    text-shadow: 2px 2px 10px white;
    /* transform: translateY(10px); */
  }
}

.Flicker {
  animation-name: flicker-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.95,.05,.8,.04);
  /* animation-direction: alternate; */
}

.Circle {
  position: absolute;
  height: 100vmin;
  width: 100vmin;
  z-index: 1;
  /* background-color: royalblue; */
  background-color: none;
}

.Circle div {
  /* background-color: saddlebrown; */
  background-color: none;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  position: relative;
}

@keyframes Spin {
  0% {transform: rotateZ(0deg) translateX(-50vmin); background-color: rgba(0,0,0,0.1);}
  100% {transform: rotateZ(360deg) translateX(-50vmin); background-color: rgba(0,0,0,0.1);}
}

.Circle div div {
  background-color: none;
  border-radius: 50%;
  width: 5%;
  height: 5%;
  position: absolute;
  animation-name: Spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0s;
  }

  .Education-div {
    color: black;
    text-align: left;
    display: flex;
    justify-content: center;
  }

  .Education-div span {
    font-size: 4vmin;
    font-weight: bold;
  }

  .Education-div sup {
    font-size: 3vmin;
  }

  .Education-div li {
    font-size: 2.5vmin;
  }